# Dependencies
node_modules/

# Testing
/coverage

# Next.js
.next/
out/
public/

# Production
build/
dist/

# Optional pnpm cache directory
.pnpm-store/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Database
*.db
*.sqlite

# macOS
.DS_Store

# Claude